---
cta:
  heading: Tint is coming soon.
  subheading_md: An open source **simple CMS** made for developers and clients.
  email_placeholder: email address
  submit_button: Submit
features:
  heading: Features
  subheading_md: Tint can help you get websites off the ground.
  list:
    - title: For Developers
      icon_path: /images/for-developers.svg
      description: Do your code and design in plain text files, using tools you already love.
      read_more:
    - title: For Clients
      icon_path: /images/for-clients.svg
      description: Simple CMS interface allows your clients to update content themselves, no matter what their needs.
      read_more:
---

<link rel="stylesheet" href="{{ "/css/home.css" | prepend: site.baseurl }}" />

<section id="coming-soon">
	<h1>{{ page.cta.heading }}</h1>
	<p>{{ page.cta.subheading_md | markdownify }}</p>
	<form method="post" action="https://usetint.com/cgi-bin/mailman/subscribe/announce">
		<input type="email" name="email" placeholder="{{ page.cta.email_placeholder }}" />
		<label>Leave blank: <input type="password" name="pw" /></label>
		<button type="submit">{{ page.cta.submit_button }}</button>
	</form>
</section>

<section id="features">
	<header>
		<h1>{{ page.features.heading }}</h1>
		<p>{{ page.features.subheading_md | markdownify }}</p>
	</header>

	<ul>
		{% for feature in page.features.list %}
			<li id="feature-{{ page.title | slugify | escape }}">
				<img src="{{ feature.icon_path | prepend: site.baseurl }}" />
				<h1>{{ feature.title | escape }}</h1>
				<p>{{ feature.description | escape }}</p>
				{% if feature.read_more %}
					<a href="{{ feature.read_more | escape }}">Read more</a>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</section>
