---
features:
- title: Developer Friendly
  icon_path: 
  description: Do your code and design in plain text files, using tools you already
    love!
  read_more: 
- title: Easy to Use
  icon_path: 
  description: Simple CMS interface allows your clients to update content themselves,
    no matter what their needs.
  read_more: 
- title: Freedom
  icon_path: 
  description: You are always free to extend the platform, or even take your data
    elsewhere.  No lock-in, no "Enterprise Edition", no CLA.
  read_more: "/freedom"
---

<section id="features">
	<h1>Features</h1>

	<ul>
		{% for feature in page.features %}
			<li id="feature-{{ page.title | slugify | escape }}" style="background-image: url({{ feature.icon_path | escape }});">
				<h1>{{ feature.title | escape }}</h1>
				{{ feature.description | escape }}
				{% if feature.read_more %}
					<a href="{{ feature.read_more | escape }}">Read more</a>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</section>
